nav{
    background-color: rgb(34, 34, 33);

}
body{
    background-color: rgb(34, 34, 33) ;
}


.intro{
    padding-bottom: 4em;
    padding-top: 5em;
   color: rgb(233, 232, 232);
   font-size: 1.1em;
}

.lineImg{
   padding-top:3em;
}
.gitImg, .lnkImg{
   
    max-width: 10%;
    padding-left: .2em;
}
.email{
    font-size: 1.4em;
    justify-content: center;
   
}
.myPhoto{
    max-width: 60%;
}
.textAbout{
    align-items: center;

}
div.textAbout p{
    font-size: 1.2em;
}
.exp{
    padding-top:2em;
    color: rgb(211, 209, 209);
}
h3{
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgb(171, 234, 253);
}
h5{
    padding-top: .5em;
    padding-bottom: .5em;
    color: rgb(171, 234, 253);
}
.titl{
    text-align: center;
     color: rgb(171, 234, 253);
     font-size: 4em;
     padding-top: 1.6em;
}

.schoolT{
    font-size: 1.4em;
    font-weight: 800;
    padding-top: 2em;
}
 .schoolD{
    font-weight: 200;
    font-size: 1.3em;
    font-style: italic;
}
.rightSide{
    float: right;
    font-style: italic;
    font-size: 1.2em;
}
.edu{
    font-size: 1.1em;
}
.projs{
    padding-bottom: 2em; 
}

.projDes{
    font-size: 1.2em;
    color: rgb(233, 232, 232);
}
.overlay2, .overlay1{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(54, 75, 81, 0.75); 
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
.overly2{
    left: 0;
}
.text{
    color: rgb(16, 49, 80);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
}
.somnum:hover .overlay2{
    width:100%;
}
.hopMath:hover .overlay1{
    width:100%;
}
.noDecor{
    color: rgb(16, 49, 80);
}
.noDecor:link {
    text-decoration: none;
  }
  
.noDecor:visited {
    text-decoration: none;
  }
  
.noDecor:hover {
    text-decoration: none;
    color:rgb(41, 6, 39);
  }
  
.noDecor:active {
    text-decoration: none;
  }
 .view{
    color: rgb(255, 255, 255);
 } 
 .view:hover{
    color: rgb(171, 234, 253);
 }

footer{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    color:rgb(122, 121, 120);
}
.thumb{
    border: rgba(241, 198, 241);
    border-style:solid;
    border-width: 1px;
    border-radius:25px;
    padding:.5em;
}

.projnavlink{
    padding-top: 1em;
    color: rgba(241, 198, 241);
    font-size: 1.7em;
    font-weight: 600;
}
.projnavlink:hover{
    color: rgb(255, 248, 124);
}
.topDes{
    font-size: 1em;
    color: rgb(233, 232, 232);
}
.projtitle{
    color: rgb(233, 232, 232);
    font-size: 2em;
    font-weight: 600;
    padding-top: 1.5em;
    padding-bottom: 1em;
    text-align: center !important;
    align-content: center !important;
  
}
.lastline{
    padding-bottom: 3em;
}
